html,body {
	height: 100%;
}

body {
  background-color: #5168EC;
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

#root {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  border-radius: 8px 8px 0 0;
  background-color: #FDFDFD;
  margin: 2.5rem 5rem 0 5rem;
  align-content: start;
  flex: 1;
}

.logo {
  margin: 3rem 0 0 5rem;
}

.greyscale {
  margin-right: 1rem;
}

.float-left {
  float: left;
}

.breadcrumbs {
  grid-column-end: span 12;
  grid-row-start: 1;
  padding-left:  2rem;
  color: #46474F;
  clear: both;
  border-bottom: 2px solid #EFEFF1;
  margin-bottom: 0;
}

nav {
  grid-column-end: span 3;
  grid-row-start: 2;
  border-right: 2px solid #EFEFF1;
  padding-right: 1rem;
}

li {
  list-style: none;
  padding: 0.2rem 0;
  color: #46474F;
  margin-bottom: 0.8rem;
  font-size: 15px;
}

.chevron-down {
  margin-left: 5rem;
}

#favorite-link {
  margin: 0.5rem 0 0 0;
  border: 2px solid  #5168EC;
  border-radius: 4px;
  background-color: #5168EC;
  color: #FDFDFD;
}

.link {
  text-decoration: none;
 
}

.icon-small {
  margin-right: 0.3rem;
}

.icon-chevron {
  margin: 0 0.7rem;
}

.editorial-component {
  grid-column-end: span 9;
  grid-row-start: 2;
}

.editorial-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.editorial-header {
  font-weight: bold;
  font-family: SF Pro Text;
  font-style: normal;
  font-size: 50px;
  line-height: 55px;
  color: #46474F;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: span 8;
  padding: 5rem 5rem 2rem 5rem;
}

.editorial-info {
  background-image: url(/rectangle-info-background.png);
  grid-column-start: 3;
  grid-column-end: span 9;
  grid-row-start: 2;
  border-left: 10px solid #5168EC;
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 2rem;
}

.editorial-info-text {
font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
padding: 1rem;
color: #46474F;
}


.editorial-note-link {
  grid-column-start: 3;
  grid-column-end: span 9;
  margin: 0.6rem;

}

.note-link-img {
  margin-right: 0.5rem;
}

.note-link-text {
  color: #5168EC;
  border-radius: 1px;
  border: 6px solid #EDF1FF;
  background-color: #EDF1FF;
}

.info-img {
  display: block;
  padding: 1rem;
}

ul.expand {
  padding: 0 0 0 2rem;
}
.expand {
  display: block;
}

.hide {
  display: none;
}

